{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr class="titles">
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% if stocks %}
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.Symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.date }}</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

